<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Agendamento</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Agendamento de Quadras</h1>

      <label>Data Início</label>
      <input type="datetime-local" id="dataInicio" />

      <label>Data Final</label>
      <input type="datetime-local" id="dataFinal" />

      <label>Cliente</label>
      <input type="text" id="cliente" />

      <label>Quadra</label>
      <input type="text" id="quadra" />

      <label>Valor</label>
      <input type="number" id="valor" />

      <label>Status do Pagamento</label>
      <select id="status">
        <option>Pendente</option>
        <option>Pago</option>
      </select>

      <button onclick="cadastrarAgendamento()">Agendar</button>

      <hr />

      <table id="tabela_agendamentos">
        <thead>
          <tr>
            <th>Data Início</th>
            <th>Data Final</th>
            <th>Cliente</th>
            <th>Quadra</th>
            <th>Valor</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody></tbody>
      </table>
    </div>

    <script src="agendamento.js"></script>
  </body>
</html>
